<section class="m-sec-style w-[50%] mx-auto">
    <h1 class="text-center text-green-600 text-3xl">{{'checkout.checkout'|translate}}</h1>
    <form [formGroup]="checkoutForm" (ngSubmit)="submitForm()">
        <div class="mb-1">
            <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'checkout.details'|translate}}</label>
            <textarea formControlName="details" id="details"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"></textarea>
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'checkout.phone'|translate}}</label>
            <input formControlName="phone" type="tel" id="phone"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'checkout.city'|translate}}</label>
            <input formControlName="city" type="text" id="city"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        </div>
        <button class="btn-main">{{'checkout.onlinepayment'|translate}}</button>
    </form>
</section>